
#
# Copy this file to `conf.sh` and edit appropriately.
#

C_HOST="host.isp.com"
C_USER="user"
C_KEY="${C_USER}@${C_HOST}.key"
C_R_PORT="11111"

C_L_HOST=$(ip route show default | awk '{ print $3 }')  # NOTE: This isn't exactly our host IP, but for tunnel purposes it steadily works.
C_L_PORT="3389"
